.footer{
    background-color: rgba(46, 46, 46, 0.89);
}
.footer .copy span{
    color: #F71943;
}
.downFooter p{
    margin: 0 9px;
    cursor: pointer;
}
.downFooter .social p{
    font-size: 25px;
    color: #F71943;
    transition: .5s all;
    padding: 5px;
}
.downFooter .social p:hover{
    color: whitesmoke;
}